
body {
  background-color: #142037;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  color: #FFF;
}

#page-wrap {
  max-width: 1400px;
  margin: 0 auto;
  min-width: 375px;
}

p, a {
  font-family: 'Lato', sans-serif;
  font-weight: 200;
}

body {
  font-family: 'Lato', sans-serif;
}

.bg-light {
  background-color: transparent !important;
}

.navbar-light .navbar-brand {
  color: #FFF;
}

.navbar-dark .navbar-nav .nav-link {
  color: #C0C4F8;
  font-weight: 200;
  font-size: 14px;
}

.nav-item.signup-btn {
  background: rgba(255,255,255,0.2);
  border-radius: 4px;
  padding: 0px 6px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #FFF;
}

.form-control {
  background-color: rgba(0,0,0,.3);
  border: none;
}

form.hero-form {
  position: relative;
}

.hero-form {
  width: 80%;
}

.hero .text {
  display: block;
  width: 65%;
}

input#exampleInputEmail1 {
  padding-right: 105px;
  height: 50px;
}

input#exampleInputEmail1::placeholder {
  color: #BFC4F8;
  font-size: 14px;
  font-weight: 200;
  opacity: .4;
}

.hero-form .btn-primary {
  position: absolute;
  right: 10px;
  top: 8px;
}

.btn-primary {
  color: #fff;
  background: -webkit-linear-gradient(0turn, #3023AE, #C96DD8);
  border:0px;
  font-weight: 200;
  font-size: 14px;
}

.text {
  color: #C0C4F8;
  font-size: .85rem;
  line-height: 2;
  font-weight: 200;
}

.text-lt {
  color: #FFF;
  font-size: .85rem;
  line-height: 2;
  font-weight: 200;
  padding: 20px 0;
}

.text-gradient {
  color: #3023AE;
  background: -webkit-linear-gradient(0turn, #3023AE, #C96DD8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero {
  height: 100vh;
  max-height: 880px;
  margin-top: -60px;
  padding-top: 120px;
  background-image: url('../img/Driven-background-sm.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.video {
  height: 100vh;
  padding-top: 50vh;
  background-image: url('../img/video-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-dots {
  display: block;
  position: absolute;
  top: -18px;
  left: -82px;
  height: 120px;
  width: 100%;
  background-image: url(../img/text-dots.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.map-markers {
  display: none;
  position: relative;
  width: 100%;
  height: 100vh;
}

.marker {
  width: 200px;
  position: absolute;
  transform: translateY(0px);
  animation-name: bounce;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {transform: translateY(0px);} 
  50% {transform: translateY(-30px);}
  100% {transform: translateY(0px);}
}

.p1 {
  top: 15%;
  left: 15%;
}

.p2 {
  top: 40%;
  left: 60%;
}

.section-text {
  display: block;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

.play-outer {
  height: 75px;
  width: 75px;
  border: 2px solid #FFF;
  background: linear-gradient(to right, #3023AE, #C96DD8);
  border-radius: 100%;
  cursor: pointer;
}

.play-btn {
  margin: 0 auto;
  top: 25%;
  left: 5%;
  position: relative;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1em 0 1em 2em;
  border-color: transparent transparent transparent #FFF; 
}

.screen-one, .screen-two, .bottom{
  padding: 60px 0px;
}

.homeimg {
  transform: translateX(100%);
  opacity: 0;
  transition: all .4s ease-in-out;
}

#screenone.visible .homeimg {
  transform: translateX(0%);
  opacity: 1;
}


/* fade in text from left to right */
.screen-one .section-text {
  transform: translateX(-100%);
  opacity: 0;
  transition: all .6s ease-in-out;
}

#screenone.visible .section-text {
  transform: translateX(0%);
  opacity: 1;
}

.screen-one .text-lt {
  transform: translateX(-100%);
  opacity: 0;
  transition: all .6s ease-in-out;
}

#screenone.visible .text-lt {
  transform: translateX(0%);
  opacity: 1;
}


.video {
  padding: 20vh 0;
  max-height: 880px;
}

.screen-one img, .screen-two img{
  display: block;
  max-width: 300px;
  margin: 0 auto;
}

#bg-lines-img {
  position: absolute;
  width: 100%;
}

.screens{
  position: relative;
  background: linear-gradient(#142037, #0F192B);
}

.bottom {
  background-image: url('../img/Bottom-bg-map.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bottom .section-text {
  padding-bottom: 70px;
}

.bottom .text-dots {
  top: -11px;
  right: 0;
  left: -20px;
}

footer {
  padding-top: 40px;
}

.bottom .text-muted {
  font-weight: 200;
  color:rgb(190, 195, 247)!important;
  padding: 20px 0;
}

.bottom .btn {
  padding: 12px 54px;
  margin-bottom: 80px;
}

.copyright {
  color: #C0C4F8;
  text-align: center;
}

footer a {
  color: #C0C4F8;
}

footer hr {
  background: rgba(255,255,255,.1);
}

.bottom input::placeholder {
  color: rgb(190, 195, 247);
  font-size: 14px;
  font-weight: 200;
}

input#exampleInputZip1 {
  margin-left: 16px;
}

.bottom input {
  color: #ccc;
  display: inline-block;
  height: 60px;
  background: none;
  border-radius: 0;
  border-bottom: 1px solid #FFF;
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
   .map-markers {
    display: none;
   }
  }
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .map-markers {
    display: block;
   }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1600px) {
  h1 {
    font-size: 3.5rem;
  }

  .text, .text-lt {
    font-size: 1rem;
  }

  .marker {
    width: 400px;
  }
}
